/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "gentelella/vendors/bootstrap/dist/css/bootstrap";
@import "gentelella/vendors/font-awesome/css/font-awesome";
@import "gentelella/vendors/iCheck/skins/flat/green";
@import "gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4";
@import "gentelella/production/css/maps/jquery-jvectormap-2.0.3";
@import "gentelella/vendors/animate.css/animate.min";
@import "gentelella/vendors/switchery/dist/switchery.min";
@import "gentelella/build/css/custom.css";

.container.body {
  margin: 0px;
  width: 100%;
  padding: 0px;
}
